
body {
    margin: 0;
    padding: 0;
}
.Avatar {
    display: block;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0b334b;
    position: relative;
    left: 62%;
}

.center{
    display: block;
    margin: 0 auto;
    width: 40%;
   
}
.Header{
    overflow: hidden;
    background: rgb(192, 224, 241);
    background: linear-gradient(180deg,rgb(149, 219, 241)65% , rgb(117, 118, 180) 100%);
    padding: 20px 10px;
    min-height: 100%;
    position: relative;
    width: 100%;
  
}

.Left_Couloumn{
    position: relative;
    left: 12%;

}
    
.Right_Column{
    height: 100%;
    width: 400px;
    background-image: url(mizuiro.png), url(mizuiro2.png);
    background-size: 100% 50%, 100% 50%;
    border-right: 5px solid #0b334b;
    background-position: bottom, top;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
    overflow: auto;
}

h1 {
    font-size: 30px;
    text-align: center;
    color: white;
    position: relative;
    left: 50px;
    font-family: font02;

}
.texto{
    font-size: 22px;
    text-align: center;
    color: white;
    position: relative;
    font-family: font01;

}
.gato{
    width: 100px;
    height: 100px;
    margin-left: auto;
    border: 2px solid #0b334b;
    margin-right: auto;
    border-radius: 50%;
    position: relative;
    left: 50%;

}


.barra {
   position: relative;
    margin: 0 auto;
    border: none;
    border-top: 4px solid #0b334b;
    width: 100%;
}
@font-face{
    font-family: font01;
    src: url(AveriaSerif-Regular.ttf);
}
 @font-face{
        font-family: font02;
        src: url(AveriaSerif-Bold.ttf);

}

@media only screen and (max-width: 1000px) {
    body {


   
        }
        .Right_Column {
            display: none;
        }
    
        h1 {
            font-size: 30px;
            text-align: center;
            color: white;
            position: relative;
            left: 5%;
            font-family: font02;
        }
    
       
        .Avatar {
            left: 10%;
            margin-left: auto;
            margin-right: auto;
        }
    }
     
    .Header {
        left: 2%;
        right: 2%;
        width: 100%;
    }
        
       
       
        .texto {
            text-align: center; 
            left: 0;
            margin-left: auto;
            margin-right: auto;
            left: 4%;
            font-family: font01;
        }
    
     
        .gato {
            left: 50%;
            margin-left: auto; 
            margin-right: auto; 
        }
    
     
        
    }
    
}