

.Avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0b334b;
    position: relative;
    left: 100px;
    object-position: 0px -45px;  
}
.Header{
    overflow: hidden;
    background: rgb(192, 224, 241);
    background: linear-gradient(180deg, rgb(186, 223, 243) 65%, rgb(149, 186, 241) 100%);
    padding: 20px 10px;
    position: relative;
    left: 8%;
}

.Right_Column{
    height: 100%;
    width: 300px;
    background-image: url(mizuiro.png), url(mizuiro2.png);
    background-size: 400px 350px, 400px  350px;
    border-right: 5px solid #0b334b;
    background-position: bottom, top;
    background-repeat: no-repeat;
    position: fixed;
    z-index: 1;
    overflow: auto;
}
.texto{
    text-align: center;
    position: relative;
    color: white;
    position: relative;
    left: 16%;

}
.gato{
    width: 100px;
    height: 100px;
    margin-left: auto;
    border: 2px solid #0b334b;
    margin-right: auto;
    border-radius: 50%;
    object-position: right;
    position: relative;
    left: 60%;

}


.barra {
    position: relative;
    left: 8%;
    margin: 0 auto; 
    border: none;
    border-top: 2px solid #0b334b;

}

@media only screen and (max-width: 600px) {
    body {
          
        }
    
       
        .Header {
            left: 2%;
            right: 2%;
            width: 100%;
        }
    
       
        .Avatar {
            left: 0;
            margin-left: auto;
            margin-right: auto;
        }
    
      
        .Right_Column {
            display: none;
        }
    
       
        .texto {
            text-align: center; 
            left: 0;
            margin-left: auto;
            margin-right: auto;
            left: 4%;
        }
    
     
        .gato {
            left: 40%;
            margin-left: auto; 
            margin-right: auto; 
        }
    
     
        .hr {
            left: 0;
        }
    }
    
}